USE [master]
GO
/****** Object:  Database [TestDB]    Script Date: 16.11.2022 21:30:16 ******/
CREATE DATABASE [TestDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TestDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\TestDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TestDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\TestDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TestDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TestDB]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 16.11.2022 21:30:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Categories] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CatergoriesProducts]    Script Date: 16.11.2022 21:30:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CatergoriesProducts](
	[IDProduct] [int] NOT NULL,
	[IDCategory] [int] NOT NULL,
 CONSTRAINT [PK_CatergoriesProducts] PRIMARY KEY CLUSTERED 
(
	[IDProduct] ASC,
	[IDCategory] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 16.11.2022 21:30:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Products] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([ID], [Name]) VALUES (1, N'Мыло')
INSERT [dbo].[Categories] ([ID], [Name]) VALUES (2, N'Жидкое мыло')
SET IDENTITY_INSERT [dbo].[Categories] OFF
GO
INSERT [dbo].[CatergoriesProducts] ([IDProduct], [IDCategory]) VALUES (1, 1)
INSERT [dbo].[CatergoriesProducts] ([IDProduct], [IDCategory]) VALUES (2, 1)
INSERT [dbo].[CatergoriesProducts] ([IDProduct], [IDCategory]) VALUES (3, 1)
GO
SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([ID], [Name]) VALUES (1, N'Мыло розовое')
INSERT [dbo].[Products] ([ID], [Name]) VALUES (2, N'Мыло зеленое')
INSERT [dbo].[Products] ([ID], [Name]) VALUES (3, N'Мыло красное')
SET IDENTITY_INSERT [dbo].[Products] OFF
GO
ALTER TABLE [dbo].[CatergoriesProducts]  WITH CHECK ADD  CONSTRAINT [FK_CatergoriesProducts_Categories] FOREIGN KEY([IDCategory])
REFERENCES [dbo].[Categories] ([ID])
GO
ALTER TABLE [dbo].[CatergoriesProducts] CHECK CONSTRAINT [FK_CatergoriesProducts_Categories]
GO
ALTER TABLE [dbo].[CatergoriesProducts]  WITH CHECK ADD  CONSTRAINT [FK_CatergoriesProducts_Products] FOREIGN KEY([IDProduct])
REFERENCES [dbo].[Products] ([ID])
GO
ALTER TABLE [dbo].[CatergoriesProducts] CHECK CONSTRAINT [FK_CatergoriesProducts_Products]
GO
USE [master]
GO
